<!-- Footer-->
<div class="py-4 bg-dark">
  <div class="container">
    <div class="row justify-content-space-between">
      <div class="col-lg-4 mb-4 mb-lg-0">
      <h5 class="text-white">Contact Us</h5>
       <h6 class="text-white">DM Burgers</h6>
       <ul class="contact-info list-unstyled">
         <li><a href="mailto:marlondlc@me.com" class="text-white">hello@dmBurgers.com</a></li>
         <li><a href="tel:514-321-1234" class="text-white">514-321-1234</a></li>
       </ul>
      </div>
      <div class="col-lg-4 col-md-6">
       <h5 class="text-white">Address</h5>
        <p class="text-white">1345 main street <br> Montreal, Qc <br> H2E 5W1 <br> Canada</p>
      </div>
      <!-- Icons -->
      <div class="icons-size">
        <img src="https://img.icons8.com/clouds/100/000000/facebook-f.png">
        <img src="https://img.icons8.com/clouds/100/000000/instagram-new.png">
        <img src="https://img.icons8.com/clouds/100/000000/google-logo.png">
      </div>
    </div>
  </div>
</div>
