<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DM Burgers</title>
    <link rel = "icon" type = "image/png" href = "https://tbncdn.freelogodesign.org/164afac9-8074-45e9-8dd6-1ebf2bef310b.png?1554054772826">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
  </head>

  <header>

    <!-- Navbar -->
    <nav class="navbar navbar-light navbar-expand-lg fixed-top shadow-sm bg-white"><a href="/" class="navbar-brand"><img class="brandlogo"src="https://tbncdn.freelogodesign.org/164afac9-8074-45e9-8dd6-1ebf2bef310b.png?1554054772826" alt="brand logo"></a> <!-- IF CX CLICK ON LOGO TAKES THEM TO HOMEPAGE-->
      <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
      <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="#" class="nav-link">About Us</a></li>
          <li class="nav-item"><a href="/dishes" class="nav-link">Menu</a></li> <!-- IF NEED ADD ANOTHER LI -->
        </ul>
        <div class="navbar-text ml-lg-3">
          <a href="/cart" class="btn btn-dark text-white shadow"><i class="material-icons">shopping_cart</i></a>
        </div>
      </div>
    </nav>
  </header>

