<% include partials/_header %>
<br>
<br>
  <body>
  <section class="home-content">
  <img class="home-image" src="/images/Main-Page-Photo.jpg" alt="Customers sharing burger experience.">
  <p>Bacon ipsum dolor amet prosciutto brisket ribeye drumstick landjaeger. Turkey pork chop capicola short loin. Fatback spare ribs turducken porchetta hamburger shank. Brisket tri-tip doner flank. Sausage shoulder spare ribs prosciutto, ribeye beef ribs andouille porchetta hamburger tri-tip capicola ground round boudin ham.
  </p>
  <p>
  Chuck meatloaf kielbasa, corned beef turkey sausage pork belly andouille pork chop burgdoggen swine. Sausage hamburger t-bone prosciutto corned beef chicken. Turducken tenderloin shoulder doner ham hock.
  </p>
  </section>
  <section class="button-prompt">
  <form method="GET" action="/dishes">
  <button type="submit" class="btn btn-dark btn-lg btn-block">Order Now!</button>
  </form>
  </section>
  </body>
</html>
