<% include partials/_header %>
<br>
<br>
<div class="order-text">
<h1>Your order:</h1>
<h4>Please fill out the below form to complete your order.</h4>
</div>
<form class="order-form" action="/orders" method="POST">
  <div class="form-row">
    <div class="form-group col-md-6">
      <input type="text" class="form-control" id="inputFirstName" name="firstName" placeholder="First name">
    </div>
    <div class="form-group col-md-6">
      <input type="text" class="form-control" id="inputLastName" name="lastName" placeholder="Last name">
    </div>
  </div>
  <div class="form-row">
  <div class="form-group col-md-6">
    <label for="inputAddress">Street Number</label>
    <input type="text" class="form-control" id="inputAddress" name="streetNumber">
  </div>
  <div class="form-group col-md-6">
    <label for="inputAddress2">Street Name</label>
    <input type="text" class="form-control" id="inputAddress2" name="streetName">
  </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" name="city" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputProvince">Province</label>
      <select id="inputProvince" name="province" class="form-control">
        <option selected>Choose...</option>
        <option>Alberta</option>
        <option>British Columbia</option>
        <option>Manitoba</option>
        <option>New Bruinswick</option>
        <option>Newfoundland</option>
        <option>Nova Scotia</option>
        <option>Ontario</option>
        <option>Prince Edward Island</option>
        <option>Quebec</option>
        <option>Saskatchewan</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputPostal">Postal Code</label>
      <input type="text" class="form-control" name="postalCode" id="inputPostal">
    </div>
  </div>
  <button type="submit" class="btn btn-dark">Submit Order</button>
</form>
</html>