body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}

.logo {
  width: 6em;
  height: 6em;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-image {
  max-width: 40%;
  max-height: 40%;
  float: left;
}
