body {
  background-color: #EEE;
  font-size: 1em;

  h1 {
    color: #244751;
  }
}

.logo {
  width: 5em;
  height: 5em;
}

// .nav-bar {
//   display: flex;
//   width: 100%;
//   flex-direction: row;
//   justify-content: space-between;
//   align-items: center;
//   margin-left: 1em;
//   margin-right: 1em;
// }

// header {
  // color: white;
// }

.home-image {
  max-width: 60%;
  max-height: 60%;
  float: left;
  padding: 1em;
}

.home-content {
  margin-top: 1em;
  margin-right: 1em;
  margin-left: 1em;
}

.button-prompt {
  margin: 2em;
}


.menu-image{
  width:100%;
  height:auto;
  margin: 10px 10px 3px 10px;
}


#price-beside-button {
  bottom: 0;
  position: absolute;
  flex: space-between;
  display: flex;
  justify-content: space-between
}

.imageTextBox {
margin: 1px;
display:flex;
flex-direction:column;
justify-content: space-between;
}

.order-form {
  padding: 1em;
  font-size: 0.8em;
}

.order-text {
  padding: 1em;
  font-size: 0.8em;
  margin-top: 3em;
}

.burger_header{
  width:100%;
  height:200px;
  background-size:cover;
  background-position:center center;
}
.badge-secondary {
  color: #fff;
  background-color: #6c757d;
}

.badge-pill {
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10rem;
}

.badge {
  display: inline-block;
  padding: .25em .4em;
  font-size: 100%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

.material-icons {
  color: white;
}
