body {
  background-color: #EEE;
  font-size: 1em;

  h1 {
    color: #244751;
  }
}

.logo {
  width: 5em;
  height: 5em;
}

// .nav-bar {
//   display: flex;
//   width: 100%;
//   flex-direction: row;
//   justify-content: space-between;
//   align-items: center;
//   margin-left: 1em;
//   margin-right: 1em;
// }

// header {
  // color: white;
// }

.home-image {
  max-width: 60%;
  max-height: 60%;
  float: left;
  padding: 1em;
}

.home-content {
  margin-top: 1em;
  margin-right: 1em;
  margin-left: 1em;
}

.button-prompt {
  margin: 2em;
}

.order-form {
  padding: 1em;
  font-size: 0.8em;
}

.order-text {
  padding: 1em;
  font-size: 0.8em;
  margin-top: 3em;
}